body{
    margin: 0px;
    padding: 0px;
    color: #000 !important;
    font-family: 'Roboto', sans-serif !important;
}

/* navbar style */
.logo_img{
    max-width: 100%;
    height: auto;
    width: 120px;
}

.navbar-nav button{
    width: 100%;
}
.nav-item{
    width: 100%;
}
.nav-link{
    font-weight: 400;
    color: #1C283A;
    padding: auto !important;
}
.active{
    background-color: #F58031;
    color: #fff !important;
    display: inline;
    font-weight: 500;
    width: fit-content;
    border-radius: 4px;
    padding: 7px 5px;
}
.orange-style{
    background-color: #F58031 !important;
    border-color: #F58031;
    text-transform:capitalize;
}
.outline-orange-style{
    outline-color: #F58031 !important;
    border-color: #F58031;
    color: #F58031;
    border-width: 2px;
    font-weight: 500;
}
.outline-orange-style:hover,.outline-orange-style:active{
    background-color: white !important;
    border-color: #F58031 !important;
    color: #F58031 !important;
}
.login-style{
    text-transform:uppercase;
    max-width: 100%;
    width: 100%;
}
/* navbar style */

/* banner style */
.fluid-container-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.banner-fluid-padding{
    padding-bottom: 200px;
    padding-top: 200px;
}
.banner-style-base{
    margin: 50px auto;
}
.title-black-text{
    font-weight: 800;
    color: #1c283a;
    text-transform: capitalize;
    font-size: 48px;
}

.small-p{
    color: #737c8b;
    font-size: 21px;
    font-weight: 600;
    margin-right: 10%;
    margin-bottom: 10%;
}

.green{
    display: block;
    color: #6FB02F;
}

.banner-style-img{
    padding-top: 50px;
    width: 120%;
    height: auto;
}
.banner-button-group {
    width: 60%;
    justify-content: start;
}
.trial-btn,.help-btn{
    border-radius: 10px;
    max-width: 10rem;
    width: 100%;
    height: 50px;
}

/* banner style */

/* ebook section starts */
.ebook{
    background-color: #1C283A;
    padding: 50px 0px;
}
.img-container{
    width: fit-content;
    display: inline-block;

}
.ebook-img-group{
    display: inline-block;
}
.back-dot{
    margin-top: 75px;
}
.book-cover{
    margin-left: -120px;
    margin-top: -75px;
}
.text-form{
    display: inline-block;
    margin: 0px;
    padding-left: 5% ;
    padding-top: 5%;
}
.ebook-style{
    margin: 0px;
    color: #fcfffc;
    text-transform: capitalize;
    font-size: 20px;
}
.ebook-explanation-p{
    font-weight: 300;
}
.h3-style{
    font-size: 24px;
    font-weight: 600;
}
.download-btn{
    width: 100% !important;
    background-color: #6FB02F;
    border-color: #6FB02F;
}
/* ebook section ends*/

/* book demo section starts*/
.book-demo-h1{
    margin-bottom: 3%;
    font-weight: 500 ;
    text-align: center;
    font-size: 43px;
}

.book-demo-p{
    margin: 0px 0px 1.5% 0px;
    text-align: center;
    font-size: 20px;
}
.book-demo{
    padding: 70px 10px 10px 10px;
}

.demo-btn{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width:20%;
    height: 50px;
    border-radius: 10px;
    min-width: 150px;
    margin-top: 3%;
}
/* book demo section ends*/

/*email-support section starts*/
.email-style{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 600;
    color: #1C283A;
    width: 70%;
}
.small-gray-text{
    font-size: 20px;
    color: #737C8B;
}

.email-support-img{
    width: 100%;
    height: auto;
}

.fa-solid, .fas{
    color: red;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 800;
}
.cross-statement{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 600;
    color: #1C283A;
}
.flex-style-email{
    flex-direction: column;
    vertical-align: middle;
    margin: auto 0px;
}
/*email-support section ends*/

/* social selling section start*/
.social-selling-style{
    text-transform: uppercase;
    color: #1C283A;
    font-size: 45px;
    font-weight: 600;
}
.benifit-of-employee{
    width: 100%;
    height: auto;
}
.social-selling-text{
    margin: auto 0px;
}
/* social selling section ends*/

/* pricing section starts*/
.title-price{
    text-transform: capitalize;
    color:#1C283A;
    font-size: 43px;
    text-align: center;
    padding: 50px auto;
    font-weight: 600;
}
.pricing-p{
    text-align: center;
}
/*pricing section ends*/

/* steps sections starts */
.step-style{
    color: #6FB02F;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}
.gray-text-18{
    font-size: 18px;
}
/* steps sections ends */

/* start free trial */
.benifits-of-trial-list{
    list-style: none;
}
.list-style-trial{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}
.bi-check-circle-fill{
    padding-right: 20px;
    color: #6FB02F;
}
.free-trial-btn{
    text-transform: capitalize;
}
/* start free trial */

/* footer */
.footer-padding{
    padding-bottom: 20px;
}
.footer-main-div{
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}
.footer-navbar{
    border-bottom: 1px solid gray;
}
.footer-list{
    display: inline-flex;
    list-style: none;
}
.footer-logo{
    width: auto;
    max-width: 70px;
}
.footer-icon-style{
    font-size: 26px;
}
.footer-icon-style:hover{
    color: #F58031;
}
.footer-copyright-div{
    font-size: 14px;
    padding: 30px 0px;
    line-height: 17px;
    color: #737c8b;
    text-align: center;
}
.footer-copyright-div p{
    margin:  0px;
}
/* footer */


/* Media query for midium screen */

@media (min-width: 768px) and (max-width: 992px) {
    .nav-link{
        font-size: 12px;
    }
    .banner-fluid-padding{
        height: 100vh;
        padding: 175px 100px ;
    }
    .main-heading {
        width: 70%;
        /* text-align: center; */
        /* align-self: center; */
        margin: auto;
        /* font-size: 42px; */
        line-height: 1.4;
        /* font-weight: 700; */
    }
    .title-black-text{
        font-size: 43px;
        text-align: center;
        width: 100%;
        font-weight: 700;
    }
    .small-p{
        font-size: 18px;
    }
    .banner-style-img{
        width: 100%;
    }
    .banner-button-group {
        width: 90%;
        justify-content: start;
    }
    .fluid-container-padding{
        padding: auto 25px;
    }
    .img-container {
        width: 100%;
        padding: 50px 0px;
        margin: 0px;
    }
    .ebook-inner {
        width: 100%;
        margin: 0px !important;
        max-width: none;
    }
    .ebook-img-group{
        width: 34%;
    }
    .text-form {
        width: 65%;
    }
    .book-demo-p{
        font-size: 21px;
    }
    .email-style{
        width: 50%;
        text-align: start;
        font-size: 56px;
    }
    .cross-statement{
        font-size: 18px;
        text-align: start;
    }
    .social-selling-style{
        margin: 15px auto;
        width: 100%;
        padding: 0px !important;
        text-align: start;
    }
    .email-wrap-updown{
        flex-direction: column-reverse;
    }
    .container-simple-padding{
        padding: 50px 10px;
    }
    .social-selling-text {
        margin-top: 30px;
    }
    .step-style{
        margin: 10px auto;
    }
    .step-medium-img-style{
        justify-content: center;
    }
    .steps-img-style{
        width: 60%;
    }
    .gray-text-18{
        padding-top: 10px !important;
    }
    .logo_img{
        width: 100%;
        max-width: 120px;
    }
    
    .footer-padding{
        padding: 20px;
    }
    .footer-main-div{
        max-width: none !important;
        padding-bottom: 20px;
    }
    .footer-copyright-div{
        margin: 0px auto!important;
    }
}
/* Media query for midium screen */

/* Media query for small screen */
@media (max-width: 767px) {
    .navbar{
        padding: 0px !important;
        height: 10vh;
    }
    .show{
        width: 100%;
    }
    .show .row .col-8 {
        width: 100%;
    }
    .show .row .col-3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .show .row .col-1{
        display: none;
    }
    .show .login-style {
        width: 150px;
        max-width: none;
    }
    .img-container{
        margin: 0px 10px;
    }
    .logo_img{
        max-width: 100%;
        height: auto;
    }
    .active{
        background-color: transparent;
        color: #F58031 !important;
        display: inline;
        font-weight: 500;
        width: fit-content;
        border-radius: none;
        padding: auto;
    }
    
    .logo-align{
        width: 75%;
        height: 100%;
    }
    .button-align{
        width: 25%;
    }
    .navbar-toggler{
        border: none;
        padding: 0px;
    }
    .navnar-toggle-a{
        display: inline-block;
        width: 70% !important;
        text-align: start;
    }
    .nav-toggle-div{
        display: inline-block;
        width: 27% !important;
        text-align: end;
        
    }
    .navbar-brand{
        width: 100% !important;
        margin-right: 0px !important;
        max-width: none !important;
        padding: 0px ;
    }
    .menu-button-group{
        max-width: none !important;
        padding: 0px !important;
    }
    .navbar-toggler:focus{
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #737C8B;
    }
    .navbar-nav{
        text-align: center;
        margin-top:0px;
        width: 100%;
    }
    .navbar-nav button{
        width: 100%;
    }
    .nav-link{
        font-size: 12px;
    }
    .offcanvas-end{
        width: 60% !important;
    }
    .title-black-text{
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        margin: auto;
        line-height: 1.4;
    }
    .main-heading{
        font-size: 30px;
    }
    .small-p{
        font-size: 14px;
        margin: 10px auto;
    }
    .banner-style-img{
        width: 100%;
    }
    .banner-button-group {
        width: 100%;
        justify-content: start;
    }
    .ebook-inner {
        display: flex;
        max-width: none !important;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 85vh;
        min-height: 667px;
    }
    .text-form{
        padding-left: 0px;
    }

    .fluid-container-padding {
        height: 100vh;
        display: block;
        padding: 150px 10px;
    }
    .login-style{
        width: 100%;
    }
    .back-dot {
        width: 110px;
        margin-top: 125px;
    }
    .book-cover {
        margin-left: -113px;
        display: inline-block;
        margin-top: 10px;
        width: 200px;
    }
    .book-demo-h1{
        width: 100%;
        margin-bottom: 50px;
    }
    .book-demo-p{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .email-style{
        width: 100%;
        text-align: start;
        font-size: 26px;
        margin-bottom: 20px;
    }
    .small-gray-text{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .cross-statement{
        font-size: 15px;
        text-align: start;
        width: 100% ;
    }
    .h3-style{
        font-size: 20px;
        margin: 10px 0px;
    }
    .ebook-explanation-p {
        font-size: 16px;
        margin: 10px 0px;
    }
    .email-wrap-updown{
        display: flex;
        flex-direction: column-reverse;
    }
    .benifit-of-employee{
        margin-bottom: 20px;
    }
    .social-selling-style{
        width: 100%;
        padding: 5px 0px !important;
        text-align: start;
    }
    .title-price{
        font-size: 26px;
        width: 100%;
        margin-bottom: 30px;
    }
    .steps-text-container{
        max-width: none !important;
        padding: 0px !important;
    }
    .step-style{
        margin: 5px auto;
        font-weight: 500;
    }
    .step-medium-img-style{
        justify-content: start;
    }
    .steps-img-style{
        width: 80%;
    }
    .list-style-trial{
        font-size: 16px;
    }
    .gray-text-18{
        padding-top: 10px !important;
    }
    .benifits-of-trial-list {
        list-style: none;
        width: 100% !important;
        padding-left: 0px;
    }
    .footer-padding{
        padding: auto 20px 20px 20px !important;
        height: auto !important;
    }
    .footer-wrap-class{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        max-width: 100%;
        height: auto;
    }
    .footer-list{
        margin: 20px 0px 0px 0px;
        width: 100%;

    }
    .footer-icons{
        margin: 0px auto;
        width: 70%;
    }
    .footer-main-div{
        max-width: none !important;
        padding-bottom: 20px;
    }
    .footer-copyright-div{
        margin: 0px auto!important;
    }
    .container-simple-padding{
        padding: 50px 10px;
    }
    .see-pricing{
        padding: 0px;
    }
    .footer-div{
        width: 100% !important;
        padding: 0px;
    }
    .footer-div ul{
        padding-left: 0px;
        text-align: center;
    }
}
/* Media query for small screen */

